src/main/app/config.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:jira="http://www.mulesoft.org/schema/mule/jira" xmlns:https="http://www.mulesoft.org/schema/mule/https" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking"
	xmlns:quartz="http://www.mulesoft.org/schema/mule/quartz" xmlns:sfdc="http://www.mulesoft.org/schema/mule/sfdc"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.5.1"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/quartz http://www.mulesoft.org/schema/mule/quartz/current/mule-quartz.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/sfdc http://www.mulesoft.org/schema/mule/sfdc/current/mule-sfdc.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/https http://www.mulesoft.org/schema/mule/https/current/mule-https.xsd
http://www.mulesoft.org/schema/mule/jira http://www.mulesoft.org/schema/mule/jira/current/mule-jira.xsd">
<!-- 	<sfdc:config-with-oauth name="SalesforceConfig" -->
<!-- 		consumerKey="${sfdc.consumer.key}" consumerSecret="${sfdc.consumer.secret}" -->
<!-- 		doc:name="Salesforce (OAuth)"> -->
<!-- 		<sfdc:oauth-callback-config connector-ref="HTTP_HTTPS" -->
<!-- 			domain="${sfdc.callback.host}" localPort="8082" path="${sfdc.callback.path}" /> -->
<!-- 		<sfdc:oauth-store-config objectStore-ref="_defaultInMemoryObjectStore" /> -->
<!-- 	</sfdc:config-with-oauth> -->
    <sfdc:config name="SalesforceConfig" username="anirudh.pandit@mulesoft.com" password="Jk02c9399123" securityToken="SN9ONnrU05a8IlSdzzp9osdoU"  doc:name="Salesforce"/>
	
	<jira:config name="Jira" connectionUser="${jira.user}" connectionPassword="${jira.pass}" connectionAddress="${jira.api.soap}" doc:name="Jira">
        <jira:connection-pooling-profile initialisationPolicy="INITIALISE_ONE" exhaustedAction="WHEN_EXHAUSTED_GROW"/>
    </jira:config>

	<!--  <https:connector name="HTTP_HTTPS" cookieSpec="netscape" 
		validateConnections="true" sendBufferSize="0" receiveBufferSize="0" receiveBacklog="0" clientSoTimeout="10000" serverSoTimeout="10000" socketSoLinger="0" doc:name="HTTP-HTTPS">
		<https:tls-key-store path="/Users/jorgegarcia/Documents/workspaceWorkday/sfdc2jira/src/main/resources/Certs/server_keystore.jks" keyPassword="changeit" storePassword="changeit" />
	</https:connector> 
	-->

<!-- 	<flow name="sfdc.auth" doc:name="sfdc.auth">
		<http:inbound-endpoint exchange-pattern="request-response"
			host="localhost" port="${http.port}" path="auth" doc:name="HTTP" />
		<sfdc:authorize config-ref="SalesforceConfig"
			display="POPUP" authorizationUrl="https://login.salesforce.com/services/oauth2/authorize"
			accessTokenUrl="https://login.salesforce.com/services/oauth2/token"
			doc:name="Salesforce" />
		<http:response-builder status="200"
			doc:name="HTTP Response Builder">
			<set-payload
				value="You have successfully authorized the connector. You access token id is #[flowVars['OAuthAccessTokenId']]" />
		</http:response-builder>
		<catch-exception-strategy doc:name="Catch Exception Strategy">
			<http:response-builder status="404"
				doc:name="HTTP Response Builder">
				<set-payload value="An error has occurred authorizing the connector" />
			</http:response-builder>
		</catch-exception-strategy>
	</flow>
 -->
</mule>